@use 'styles/variables';

.pagination {
    display: flex;
    gap: 8px;
}

.page {
    width: 38px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
}

.active {
    width: 38px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--brand);
    color: #fff;
    cursor: default;
}

.dots {
    padding: 12px 12px;
}