@use 'styles/variables';

.my-button {
    width: 153;
    height: 52;
    min-height: 52px;
    top: 20px;
    left: 228.5px;
    padding-top: var(--space-s);
    padding-right: var(--space-l);
    padding-bottom: var(--space-s);
    padding-left: var(--space-l);
    gap: var(--space-xxs);

    border: 0;
    background: var(--button-primary-bg);
    color: var(--button-primary-text);

    border-radius: var(--border-radius);

    &:hover {
        background: var(--button-primary-bg-hover);
        color: var(--button-primary-text-hover);
    }

    &:disabled {
        background: var(--button-primary-bg-disabled);
        color: var(--button-primary-text-disabled);
    }

    &:active {
        background: var(--button-primary-bg-active);
        color: var(--button-primary-text-active);
    }

    &:disabled:active {
        background: var(--button-primary-bg-disabled);
        color: var(--button-primary-text-disabled);
    }

    &__disabled_by_loading:disabled {
        background: var(--button-primary-bg);
        color: var(--button-primary-text);
    }

    &--contaner {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}