@use 'styles/variables';

.navbar {
    height: 64px;
    background-color: var(--bg-items);

    display: flex;
    gap: var(--space-l);
    align-items: center;
    justify-content: center;

    &__logo {
        display: flex;
        gap: var(--space-l);
        align-items: center;
        padding-right: 5vw;
    }

    &__conteiner {
        display: flex;
        gap: var(--space-m);
        align-items: center;
    }

    &__users-icons {
        display: flex;
        gap: var(--space-m);
        align-items: center;
        padding-left: 20vw;
    }
}