@use 'styles/variables';

.recipe-box {
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__recipes-list {
        margin-top: var(--space-xxl);
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 80px;
        width: 100%;

        &_total-time {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--space-xxs);
        }
    }
}

@media (max-width: 768px) {
    .recipe-box {
        &__recipes-list {
            grid-template-columns: repeat(1, 1fr);

        }
    }
}