:root {
    --global-bg: rgba(255, 192, 118, 0.23);
    --bg-items: #FFFFFF;
    --brand: #B5460F;

    --text-primary: #000;
    --text-secondary: #afadb5;
    --text-accent: #B5460F;

    --space-xxs: 8px;
    --space-xs: 12px;
    --space-s: 14px;
    --space-m: 16px;
    --space-l: 20px;
    --space-xl: 24px;
    --space-xxl: 48px;

    --border-radius: 10px;

    --input-text: #000;
    --input-bg: #fff;
    --input-placeholder: #afadb5;
    --input-border: #fff;
    --input-bg-focus: #fff;
    --input-border-focus: #B5460F;
    --input-text-focus: #000;
    --input-bg-disabled: #fff;
    --input-border-disabled: #fff;
    --input-text-disabled: rgba(0, 0, 0, 0.2);

    --button-primary-bg: #B5460F;
    --button-primary-text: #fff;
    --button-primary-bg-hover: #c98461;
    --button-primary-text-hover: #fff;
    --button-primary-bg-disabled: #d9d9d9;
    --button-primary-text-disabled: #fff;
    --button-primary-bg-active: #872D01;
    --button-primary-text-active: #fff;

    --icon-primary-bg: #ffffff;
    --icon-secondary-bg: #b1b1b1;
    --icon-accent-bg: #B5460F;
    --icom-dark-bg: #151411;

    --card-image-bg: #d9d9d9;
    --card-bg: #fff;







    --loader-bg: #518581;

    --checkbox-bg: #fff;
    --checkbox-border: #fff;
    --checkbox-bg-hover: #fff;
    --checkbox-border-hover: #518581;
    --checkbox-bg-disabled: rgba(255, 255, 255, 0.5);
    --checkbox-border-disabled: rgba(255, 255, 255, 0.5);
    --checkbox-check: #518581;
    --checkbox-check-hover: #518581;
    --checkbox-check-disabled: rgba(0, 0, 0, 0.2);

    --dropdown-options-bg: #fff;

    --brand-active: #487773;
    --brand-hover: #86aaa7;


}