@use 'styles/variables';

.actions {
    margin-top: 20px;

    display: flex;
    gap: 10px;
    justify-content: end;

    &__button {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .actions {
        justify-content: center;
    }
}

@media print {
    .actions {
        display: none;
    }
}