@use 'styles/variables';

.container {
    margin-top: var(--space-xxl);
    margin-bottom: var(--space-xxl);
    padding-left: 10vw;
    padding-right: 10vw;

    position: relative;
}

.title {
    display: flex;
    gap: var(--space-m);
    align-items: center;
    margin-bottom: var(--space-xxl);
}

.brief_info {
    display: flex;
    gap: var(--space-xxl);
    align-items: center;
}

.picture {
    border-radius: var(--border-radius);
    width: 448px;
    height: 298px;
}

.about {
    background-color: #B5460F54;
    border-radius: var(--border-radius);
    margin-top: var(--space-xxl);
    margin-bottom: var(--space-xxl);
    padding: var(--space-xl);
}

.directions {
    margin-top: var(--space-xxl);
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
}

.step {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

.title_directions {
    margin-bottom: var(--space-xl);
}