@use 'styles/variables';

.recipe {
    margin-top: var(--space-xxl);
    margin-bottom: var(--space-xxl);
    padding-left: 1vw;
    padding-right: 1vw;

    position: relative;


    &__title {
        display: flex;
        gap: var(--space-m);
        align-items: center;
        margin-bottom: var(--space-xxl);

        &_icon {
            margin: 0px;
        }
    }

    &__brief-info {
        display: flex;
        gap: var(--space-xxl);
        align-items: center;

        &_picture {
            border-radius: var(--border-radius);
            width: 35%;
        }

        &-conteiner {
            display: flex;
            flex-direction: column;
        }
    }

    &__about {
        background-color: #B5460F54;
        border-radius: var(--border-radius);
        margin-top: var(--space-xxl);
        margin-bottom: var(--space-xxl);
        padding: var(--space-xl);
    }

    &__directions {
        margin-top: var(--space-xxl);
        display: flex;
        flex-direction: column;
        gap: var(--space-m);

        &_title_directions {
            margin-bottom: var(--space-xl);
        }

        &_step {
            display: flex;
            flex-direction: column;
            gap: var(--space-xs);
        }
    }
}

@media screen and (max-width: 768px) {
    .recipe {
        &__brief-info {
            flex-direction: column;

            &_picture {
                width: 100%;
                height: 100%;
            }
        }

        &__directions {

            margin-right: var(--space-xxs);
            margin-left: var(--space-xxs);

        }
    }
}

@media print {
    .recipe {
        margin-top: 0px;
        color: black !important;

        &__title {
            margin: 10px;

            &_icon {
                display: none;
            }
        }

        &__brief-info {
            justify-content: center;

            &_picture {
                display: none;
            }

            &-conteiner {
                display: flex;
                flex-direction: column;
            }
        }

        &__about {
            margin: 10px;
        }
    }

    .recipe * {
        color: black !important;
    }
}