@use 'styles/variables';

.login {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        &_input {
            display: flex;
            flex-direction: column;

            height: 80px;
            gap: var(--space-xxxs);

            &_error {
                color: red;
                padding-left: var(--space-m);
            }
        }

    }
}