@use 'styles/variables';

.actions {

    width: 90vw;
    display: flex;
    gap: var(--space-l);
    justify-content: space-between;

    &__input {
        width: 100%;
    }

    &__categories {
        margin-top: var(--space-l);
        display: flex;
        justify-content: end;

        &_multidrop {
            margin: 0px;
        }

    }
}

@media screen and (max-width: 450px) {
    .actions {
        &__categories {
            &_multidrop {
                width: 100% !important;
            }
        }
    }
}