@use 'styles/variables';

.actions {

    width: 80vw;
    display: flex;
    gap: var(--space-l);
    justify-content: space-between;

    &__input {
        width: 100%;
    }

    &__categories {
        margin-top: var(--space-l);
        display: flex;
        justify-content: end;

        &_multidrop {
            margin: 0px;
        }

    }
}