@use 'styles/variables';

.icon {
    margin: 0;
    fill: var(--text-primary);
    stroke: var(--text-primary);
    align-items: center;

    &__color_primary {
        fill: var(--icon-primary-bg);
        stroke: var(--icon-primary-bg)
    }

    &__color_secondary {
        fill: var(--icon-secondary-bg);
        stroke: var(--icon-secondary-bg);
    }

    &__color_accent {
        fill: var(--icon-accent-bg);
        stroke: var(--icon-accent-bg);
    }

    &__color_dark {
        fill: var(--icom-dark-bg);
        stroke: var(--icom-dark-bg);
    }
}

@media print {
    .icon * {
        fill: black;
        stroke: black;
    }
}